body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f8f9fa;
}

.logo{
    height: 200px;
}

.intro{
    color: #7e7d7d;
    display: flex;
    justify-content: center;
    font-size: 15px;
}


.container {
    text-align: center;
    width: 50vw;
}

.formulario {
    border: 1px solid #7e7d7d;
    border-radius: 10px;
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
}

#response {
    margin: 10px auto;
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 5px;
    display: none;
    text-align: center;
    width: 60%;
    background-color: #fff;
}

.detail-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.detail-input {
    flex: 1;
    margin-right: 10px 0;
    height: 30px;
    border-radius: 10px;
}

.btn-primary {
    background-color: aqua;
}


.btn-success {
    background-color: rgb(2, 204, 46);
    color: white;
    font-style: normal;
    border: none;
    border-radius: 50px;
    height: 50px;
    width: 100px;
    cursor: pointer; 
}



